.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 10px 10px 300px 10px;
  background-color: darkgray;
}
#restoapp {
  width: 100%;
  text-align: center;
  margin: 30px 0 10px;
  /* background-color: darkgreen; */
}
.div-for-user {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0 10px;
  /* background-color: aquamarine; */
}
.div-for-admin-user {
  width: 20%;
}
.div-for-categories {
  width: 40%;
}
select {
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 5px 2px;
  background-color: darkgrey;
}
#mypurchase-btn {
  width: 40%;
  border: none;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  cursor: pointer;
  background-color: darkgrey;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .div-for-user {
    width: 100%;
  }
  .div-for-admin-user {
    width: 10%;
  }
  .div-for-categories {
    width: 15%;
  }

  #mypurchase-btn {
    width: 15%;
  }
}
@media only screen and (min-width: 992px) {
  .App {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 10px 10px 300px 10px;
    background-color: darkgray;
  }
  #restoapp {
    width: 100%;
    text-align: center;
    margin: 30px 0 10px;
    /* background-color: darkgreen; */
  }
  .div-for-user {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 10px;
    /* background-color: aquamarine; */
  }
  .div-for-admin-user {
    width: 10%;
  }
  .div-for-categories {
    width: 15%;
  }
  select {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    background-color: darkgrey;
  }
  #mypurchase-btn {
    width: 20%;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: darkgrey;
  }
}
